wheel==0.34.2
cutie==0.2.2
Cython==0.29.17
holidays==0.10.2
matplotlib==3.2.1
numpy==1.18.4
oandapyV20==0.6.3
pandas==1.0.3
pandas-datareader==0.8.1
pylint==2.5.0
pyopenssl==19.1.0
pytz==2019.3
tulipy==0.4.0